@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    height: 100vh;
    display: flex;
}

/*350*/
nav.menu-lateral{
    width: 72px;
    height: 100%;
    background-color: rgba(32, 46, 50, 1);
    padding: 50px 0 50px 1%;
    box-shadow: 3px 0 0 rgba(255, 127, 80, 1);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.2s;
}
nav.menu-lateral.expandir{
    width: 350px;
}

.btn-expandir{
    width: 100%;
    padding-left: 15px;
    padding-bottom: 10px;
}
.btn-expandir > i{
    color: white;
    font-size: 30px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}
ul li.itens-menu a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 15px 2%;
    display: flex;
    margin-bottom: 20px;
}
ul li.ativo{
    background-color: rgba(255, 127, 80, 1);
}

ul li.itens-menu a .txt-link{
    margin-left: 90px;
    transition: 0.9s;
}

nav.menu-lateral.expandir .txt-link{
    margin-left: 25px;
}

ul li.itens-menu a .icon{
    font-size: 30px;
    margin-left: 10px;
}
ul li.itens-menu:hover{
    background-color: rgba(255, 127, 80, 1);
}
ul li.itens-menu{
    transition: .2s;
}

.content {
    margin-left: 72px;
    padding: 20px;
    flex-grow: 1;
    transition: margin-left 0.2s;
}

nav.menu-lateral.expandir + .content {
    margin-left: 350px;
}

.section {
    display: none;
}

.section.active {
    display: block;
}


.buttons {
    margin-bottom: 20px;
    text-align: center; /* Alinha os botões ao centro */
}

.buttons button {
    padding: 15px 20px;
    margin: 15px; /* Espaçamento uniforme em todos os lados */
    border: none;
    border-radius: 20px; /* Adiciona bordas arredondadas */
    background-color: rgba(255, 127, 80, 1);
    color: white;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #FF5722;
}

.screen {
    display: none;
}
.screen.active {
    display: block;
}


/* Estilos específicos para o formulário de cadastro */
#cadastro {
    max-width: 800px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


#cadastro h2 {
    margin-bottom: 20px;
}

#usuarios h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#cadastro form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cadastro form label {
    margin-bottom: 10px;
    font-weight: bold;
    width: 100%;
    max-width: 600px;
    text-align: left;
}

#cadastro form input[type="text"],
#cadastro form input[type="email"],
#cadastro form input[type="date"],
#cadastro form input[type="password"],
#cadastro form input[type="file"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
}

#cadastro form input[type="submit"] {
    background-color: rgba(255, 127, 80, 1);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    width: 200px;
}

#cadastro form input[type="submit"]:hover {
    background-color: #FF5722;
}

/* Estilo para a lista suspensa */
#cadastro form select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
}

/* Estilo para a seta da lista suspensa */
#cadastro form select::-ms-expand {
    display: none; /* Remove a seta padrão do Internet Explorer */
}


/* Estilos específicos para a tela de exclusão */
#excluir {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    align-items: center;
    text-align: center;
}

#excluir h2 {
    text-align: center;
    margin-bottom: 30px;
}

#excluir p {
    margin-bottom: 10px;
    text-align: center;
}

#excluir input[type="text"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 50%;
}

#excluir button {
    background-color: rgba(255, 127, 80, 1);
    color: white;
    margin-top: 40px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    align-self: center;
    margin-bottom: 40px;
}

#excluir button:hover {
    background-color: #FF5722;
}

/* Input da Tela excluir com o icon */
.input-com-icone {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center; /* Centraliza verticalmente os itens */
}

.input-com-icone-input {
    padding-right: 20px; /* Ajusta o padding para acomodar o ícone */
    width: 200px; /* Define a largura do campo de entrada */
    margin: 0 auto; /* Centraliza horizontalmente o campo de entrada */
}

.input-com-icone .icone-lupa {
    position: absolute;
    margin-right: 40px;
    right: 22%; /* Ajusta a posição do ícone */
    top: center;
    transform: translateY(-40%);
    cursor: pointer;
}


/* Tela Alterar Dados*/
#alterar {
    max-width: 800px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#alterar h2 {
    margin-bottom: 20px;
}

#alterar form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#alterar form label {
    margin-bottom: 10px;
    font-weight: bold;
    width: 100%;
    max-width: 600px;
    text-align: left;
}

#alterar form input[type="text"],
#alterar form input[type="email"],
#alterar form input[type="date"],
#alterar form input[type="password"],
#alterar form input[type="file"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
}

#alterar form select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
}

#alterar form input[type="submit"] {
    background-color: rgba(255, 127, 80, 1);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    width: 200px;
}

#alterar form input[type="submit"]:hover {
    background-color: #FF5722;
}

/* Estilo para o contêiner do input com ícone */
.input-com-icone-alterar {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

/* Estilo para o input dentro do contêiner */
.input-icone-alt {
    padding-right: 30px; 
    width: 50%; 
    margin: 0 auto; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 20px; 
}

/* Estilo para o ícone de lupa */
.input-com-icone-alterar .icone-lupa {
    position: absolute;
    right: 27%; 
    cursor: pointer;
}


/* Estilos específicos para a tela de busca */
#buscar {
    max-width: 800px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#buscar h2 {
    margin-bottom: 35px;
}

/* Estilizando a caixa de consulta */
.input-group-addon {
    margin-right: 10px;
    color: #ccc;
    font-size: 20px;
}

.input-group-addon i {
    font-size: 20px;
    cursor: pointer;
}

.form-control {
    border-radius: 20px;
    border: 1px solid #ccc;
    padding-left: 30px;
}

/* Estilizando a tabela de resultados */
.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    border-top: 1px solid black;
}

.table th,
.table td {
    padding: 10px;
    border-left: 1px solid black; 
    border-top: 1px solid black;
    text-align: center;
}

.table th:last-child,
.table td:last-child {
    border-right: 1px solid black;
    border-bottom: 1px solid black; 
}

.table tr:last-child th,
.table tr:last-child td {
    border-bottom: 1px solid black;
    border-right: 1px solid black; 
}

.table thead {
    background-color: rgba(255, 127, 80, 1);
    color: white;
}

.table tbody tr:hover {
    background-color: #f2f2f2;
}



/*PÁG DE RESERVAS*/

#reservas, #financeiro h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#cadastrar_espaco, #agendar_espaco{
    max-width: 800px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#cadastrar_espaco form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cadastrar_espaco form label {
    margin-bottom: 10px;
    font-weight: bold;
    width: 100%;
    max-width: 600px;
    text-align: left;
}

#cadastrar_espaco form input[type="text"],
#cadastrar_espaco form input[type="text"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
}

#cadastrar_espaco form input[type="submit"] {
    background-color: rgba(255, 127, 80, 1);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    width: 200px;
}

#cadastrar_espaco form input[type="submit"]:hover {
    background-color: #FF5722;
}

#cadastrar_espaco, #agendar_espaco h2{
    margin-bottom: 35px;
}


/* Estilização geral do contêiner de agendamento */
#agendar_espaco {
    max-width: 800px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilização do formulário */
#agendar_espaco form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilização dos labels do formulário */
#agendar_espaco form label {
    margin-bottom: 10px;
    font-weight: bold;
    width: 100%;
    max-width: 600px;
    text-align: left;
}

/* Estilização dos campos de entrada de texto e datetime-local */
#agendar_espaco form input[type="datetime-local"]{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
}

#agendar_espaco form select{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
}

/* Estilização dos botões de submissão do formulário */
#agendar_espaco form input[type="submit"] {
    background-color: rgba(255, 127, 80, 1);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    width: 200px;
}

/* Estilização do hover dos botões de submissão */
#agendar_espaco form input[type="submit"]:hover {
    background-color: #FF5722;
}


/* PÁG. FINANCEIRO*/

#cadastrar_boleto {
    max-width: 800px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#cadastro_boleto h2 {
    margin-bottom: 30px;
}

#cadastrar_boleto form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cadastrar_boleto form label {
    margin-bottom: 10px;
    font-weight: bold;
    width: 100%;
    max-width: 600px;
    text-align: left;
}

#cadastrar_boleto form input[type="date"],
#cadastrar_boleto form input[type="number"],
#cadastrar_boleto form input[type="file"]{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
}

#cadastrar_boleto form select{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
}

#cadastrar_boleto form input[type="submit"] {
    background-color: rgba(255, 127, 80, 1);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    width: 200px;
}

#cadastrar_boleto form input[type="submit"]:hover {
    background-color: #FF5722;
}


/* parte do perfil*/
#tela_perfil{
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

#perfil h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#informacoes{
    height: 200px;
    font-size: 1.6rem;
    text-align: center;
}

.perfil-imagem{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.foto-redonda {
    width: 300px; 
    height: 300px; 
    border-radius: 50%;
    object-fit: cover; 
    border: 2px solid #000; 
}

#alter-user{
    margin-top: 38%;
}

.alt-user{
    cursor: pointer;
    padding: 5px;
    font-size: 22px;
    background-color: rgba(255, 127, 80, 1);
    border-radius: 20px;
    border: none;
}

/* Estilos para a modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px; /* Location of the box */
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 800px; /* Max width */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo do formulário dentro da modal */
#editForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#editForm label {
    margin-bottom: 10px;
    font-weight: bold;
    width: 100%;
    max-width: 600px;
    text-align: left;
}

#editForm input[type="text"],
#editForm input[type="email"],
#editForm input[type="password"],
#editForm input[type="text"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
}

#editForm button[type="submit"] {
    background-color: rgba(255, 127, 80, 1);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    width: 200px;
}

#editForm button[type="submit"]:hover {
    background-color: #FF5722;
}


/*Parte de Manutenção*/
#tela_manutencoes{
    text-align: center;
}

#manutencoes h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#cadastrar_manutecao form{
    max-width: 800px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#cadastrar_manutecao form label {
    margin-bottom: 10px;
    font-weight: bold;
    width: 100%;
    max-width: 600px;
    text-align: left;
}

#cadastrar_manutecao form input[type="submit"] {
    background-color: rgba(255, 127, 80, 1);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    width: 200px;
}

#cadastrar_manutecao form input[type="submit"]:hover {
    background-color: #FF5722;
}

#cadastrar_manutecao form input[type="date"],
#cadastrar_manutecao form input[type="text"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
}


/* PARTE DA DOCUMENTAÇÃO */

#cadastrar_doc{
    text-align: center;
}

#regulamentos h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#cadastrar_doc{
    max-width: 800px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#cadastrar_doc h2{
    margin-bottom: 20px;
}

#cadastrar_doc form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

#cadastrar_doc form input[type="submit"] {
    background-color: rgba(255, 127, 80, 1);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    width: 200px;
}

#cadastrar_doc form input[type="submit"]:hover {
    background-color: #FF5722;
}

#cadastrar_doc form input[type="date"],
#cadastrar_doc form input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}
#cadastrar_doc form input[type="file"]{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    margin: 0 auto;
}