@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    height: 100vh;
    display: flex;
}

/*350*/
nav.menu-lateral{
    width: 72px;
    height: 100%;
    background-color: rgba(32, 46, 50, 1);
    padding: 50px 0 50px 1%;
    box-shadow: 3px 0 0 rgba(255, 127, 80, 1);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.2s;
}
nav.menu-lateral.expandir{
    width: 350px;
}

.btn-expandir{
    width: 100%;
    padding-left: 15px;
    padding-bottom: 10px;
}
.btn-expandir > i{
    color: white;
    font-size: 30px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}
ul li.itens-menu a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 15px 2%;
    display: flex;
    margin-bottom: 20px;
}
ul li.ativo{
    background-color: rgba(255, 127, 80, 1);
}

ul li.itens-menu a .txt-link{
    margin-left: 90px;
    transition: 0.9s;
}

nav.menu-lateral.expandir .txt-link{
    margin-left: 25px;
}

ul li.itens-menu a .icon{
    font-size: 30px;
    margin-left: 10px;
}
ul li.itens-menu:hover{
    background-color: rgba(255, 127, 80, 1);
}
ul li.itens-menu{
    transition: .2s;
}

.content {
    margin-left: 72px;
    padding: 20px;
    flex-grow: 1;
    transition: margin-left 0.2s;
}

nav.menu-lateral.expandir + .content {
    margin-left: 350px;
}

.section {
    display: none;
}

.section.active {
    display: block;
}


.buttons {
    margin-bottom: 20px;
    text-align: center; /* Alinha os botões ao centro */
}

.buttons button {
    padding: 15px 20px;
    margin: 15px; /* Espaçamento uniforme em todos os lados */
    border: none;
    border-radius: 20px; /* Adiciona bordas arredondadas */
    background-color: rgba(255, 127, 80, 1);
    color: white;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #FF5722;
}

.screen {
    display: none;
}
.screen.active {
    display: block;
}

/*PÁG DE VISITANTE*/
#visitantes h1{
    text-align: center;
    margin-bottom: 35px;
}

#cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cadastro label{
    margin-bottom: 10px;
    font-weight: bold;
    width: 100%;
    max-width: 600px;
    text-align: left;
}

#cadastro input[type="text"], #cadastro input[type="date"]{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
}

.btn_visita{
    background-color: rgba(255, 127, 80, 1);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    width: 200px;
}

/*PÁG DE RESERVAS*/

#reservas, #financeiro h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#cadastrar_espaco, #agendar_espaco{
    max-width: 800px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#cadastrar_espaco form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cadastrar_espaco form label {
    margin-bottom: 10px;
    font-weight: bold;
    width: 100%;
    max-width: 600px;
    text-align: left;
}

#cadastrar_espaco form input[type="text"],
#cadastrar_espaco form input[type="text"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
}

#cadastrar_espaco form input[type="submit"] {
    background-color: rgba(255, 127, 80, 1);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    width: 200px;
}

#cadastrar_espaco form input[type="submit"]:hover {
    background-color: #FF5722;
}


/* Estilização geral do contêiner de agendamento */
#agendar_espaco {
    max-width: 800px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilização do formulário */
#agendar_espaco form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilização dos labels do formulário */
#agendar_espaco form label {
    margin-bottom: 10px;
    font-weight: bold;
    width: 100%;
    max-width: 600px;
    text-align: left;
}

/* Estilização dos campos de entrada de texto e datetime-local */
#agendar_espaco form input[type="datetime-local"]{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
}

#agendar_espaco form select{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
}

/* Estilização dos botões de submissão do formulário */
#agendar_espaco form input[type="submit"] {
    background-color: rgba(255, 127, 80, 1);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    width: 200px;
}

/* Estilização do hover dos botões de submissão */
#agendar_espaco form input[type="submit"]:hover {
    background-color: #FF5722;
}



/* PÁG. FINANCEIRO*/

#cadastrar_boleto {
    max-width: 800px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#cadastro_boleto h2 {
    margin-bottom: 30px;
}

#cadastrar_boleto form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cadastrar_boleto form label {
    margin-bottom: 10px;
    font-weight: bold;
    width: 100%;
    max-width: 600px;
    text-align: left;
}

#cadastrar_boleto form input[type="date"],
#cadastrar_boleto form input[type="number"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
}

#cadastrar_boleto form select{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
}

#cadastrar_boleto form input[type="submit"] {
    background-color: rgba(255, 127, 80, 1);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    width: 200px;
}

#cadastrar_boleto form input[type="submit"]:hover {
    background-color: #FF5722;
}



/* PAG AVISOS*/
#avisos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#tela_avisos{
    width: 700px;
}

#avisos h1{
    text-align: center;
}


/* Estilizando a tabela de resultados */
.table {
    border-collapse: collapse;
    border-radius: 10px;
    border-top: 1px solid black;
}

.table th,
.table td {
    padding: 10px;
    border-left: 1px solid black; 
    border-top: 1px solid black;
    text-align: center;
}

.table th:last-child,
.table td:last-child {
    border-right: 1px solid black;
    border-bottom: 1px solid black; 
}

.table tr:last-child th,
.table tr:last-child td {
    border-bottom: 1px solid black;
    border-right: 1px solid black; 
}

.table thead {
    background-color: rgba(255, 127, 80, 1);
    color: white;
}

.table tbody tr:hover {
    background-color: #f2f2f2;
}


/*Gerar Boleto*/
#gerar_boleto{
    max-width: 800px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
#download_button{
    padding: 15px 20px;
    margin: 15px; /* Espaçamento uniforme em todos os lados */
    border: none;
    border-radius: 20px; /* Adiciona bordas arredondadas */
    background-color: rgba(255, 127, 80, 1);
    color: white;
    cursor: pointer;
}

/*Documentações*/
#visualizar_doc{
    max-width: 800px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
#download_doc_button{
    padding: 15px 20px;
    margin: 15px; /* Espaçamento uniforme em todos os lados */
    border: none;
    border-radius: 20px; /* Adiciona bordas arredondadas */
    background-color: rgba(255, 127, 80, 1);
    color: white;
    cursor: pointer;
}

#doc_container{
    text-align: left;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 10px;
}

#titulo_doc{
    font-size: 28px;
}

#data_doc{
    font-size: 25px;
}

#assunto_doc{
    font-size: 20px;
}

/* parte do perfil*/
#tela_perfil{
    max-width: 800px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#perfil h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#informacoes{
    height: 200px;
    font-size: 1.6rem;
    text-align: center;
}

.perfil-imagem{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.foto-redonda {
    width: 300px; 
    height: 300px; 
    border-radius: 50%;
    object-fit: cover; 
    border: 2px solid #000; 
}


/* fazer reclamações */
#fazer_Reclamação{
    max-width: 800px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
}

#fazer_Reclamação form input[type="submit"] {
    background-color: rgba(255, 127, 80, 1);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    width: 200px;
}

#fazer_Reclamação form input[type="text"],
#fazer_Reclamação form input[type="email"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
}

#fazer_Reclamação form label {
    margin-bottom: 10px;
    font-weight: bold;
    width: 100%;
    max-width: 600px;
    text-align: left;
}